<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
  <body>
    <%-include("./partials/navbar.ejs")%>

    <main>
      <h1 class="detailsTitle"><%=foodDetails.name%></h1>

      <img
        src="<%=foodDetails.imageUrl%>"
        alt="<%=foodDetails.name%>"
        height="300px"
        width="300px"
        id="details_img"
      />
      <p class="details_text">Category: <%=foodDetails.Category%></p>
      <p class="details_text">Description: <%=foodDetails.foodDescription%></p>
      <p class="details_text">Price: £<%=foodDetails.price%></p>
      <p class="details_text">In stock: <%=foodDetails.stock%></p>
    </main>
  </body>
</html>
<!-- why didnt i have to loop through it  -->
